[Unit]
Description=Backup Game Filesaves with Ludusavi
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ludusavi backup --force --full-limit 3 && notify-send "Gamesaves Backup Complete" -i ~/.local/share/icons/Catppuccin-SE/64x64@2x/apps/org.gnome.games.svg --app-name=Ludusavi

[Install]
WantedBy=default.target
