[Unit]
Description=Backup Game Filesaves with Ludusavi
After=network.target

[Service]
Type=simple
ExecStart=/home/matt/.local/bin/backupGamesaves

[Install]
WantedBy=default.target
