[Unit]
Description=Run Spotdl Sync

[Timer]
OnCalendar=Mon,Wed,Fri 18:00:00
Persistent=true
Unit=downloadSpotify.service

[Install]
WantedBy=timers.target
