[Unit]
Description=Download Spotify Lists using spotdl
After=network.target

[Service]
Type=simple
ExecStart=/home/matt/.local/bin/downloadSpotify

[Install]
WantedBy=default.target
