[Unit]
Description=Run Pinterest Downloader Sync Weekly

[Timer]
OnCalendar=*-*-* 17:00:00
Persistent=true
Unit=downloadPinterest.service

[Install]
WantedBy=timers.target
