[Unit]
Description=Protonmail client bridge service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
StandardOutput=journal
ExecStart=/usr/bin/protonmail-bridge --no-window

[Install]
WantedBy=graphical-session.target
