[Unit]
Description=ProtonMail Bridge - ProtonMail IMAP and SMTP Bridge
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/protonmail-bridge-core --noninteractive
Restart=always
KillMode=process

# Hardening
PrivateTmp=true
# ProtectHome=true
ProtectSystem=full
NoNewPrivileges=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
PrivateDevices=true
# RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=default.target
