[user]
    name = Sergio Laín
	email = sergiolain11@gmail.com
	signingkey = .ssh/id_ed25519.pub
[safe]
	directory = Repos/
[credential "https://github.com"]
    username = Matt-FTW
[filter "lfs"]
    clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[protocol "file"]
	allow = always
[credential]
    helper = libsecret
[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false
    dark = true      
    side-by-side = true
    line-numbers = true
    features = decorations     
    line-numbers-minus-style = "#ed8796"
    line-numbers-plus-style = "#a6da95"
    line-numbers-zero-style = "#cad3f5"
    minus-style = "#24273a" bold "#aa4b59"
    minus-emph-style = "#24273a" bold "#ed8796"
    file-style = "#b7bdf8"
    plus-style = "#24273a" bold "#478a37"
    plus-emph-style = "#24273a" bold "#a6da95"
[merge]
    conflictstyle = diff3
[pager]
    blame = delta
[diff]
    colorMoved = default
[gpg]
	format = ssh
