[user]
    name = Sergio Laín
	email = sergiolain11@gmail.com
	signingkey = .ssh/id_ed25519.pub
[safe]
	directory = Repos/
[credential "https://github.com"]
    username = Matt-FTW
[filter "lfs"]
    clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[protocol "file"]
	allow = always
[credential]
    helper = libsecret
[core]
    editor = nvim
    pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
    diffFilter = diff-so-fancy --patch
[merge]
    conflictstyle = diff3
[pager]
    blame = diff-so-fancy | less --tabs=4 -RFX
[diff]
    colorMoved = default
[gpg]
	format = ssh
