[Desktop Entry]
Name=Thunderbird
Comment=Lea y escriba correos y noticias con Thunderbird
Exec=/usr/lib/thunderbird/thunderbird %u
Icon=thunderbird
StartupNotify=true
Terminal=false
Type=Application
Path=
