layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            // plugin location="file:~/.config/zellij/plugins/statusbar.wasm"
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "{mode} #[fg=#8aadf4,bold]{session} {tabs}"
                format_right "{datetime}"
                format_space ""

                hide_frame_for_single_pane "false"

                mode_normal        "#[bg=#89B4FA]  "
                mode_locked        "#[bg=#ed8796]  "
                mode_resize        "#[bg=#89B4FA]  "
                mode_pane          "#[bg=#89B4FA]  "
                mode_tab           "#[bg=#89B4FA]  "
                mode_scroll        "#[bg=#89B4FA]  "
                mode_enter_search  "#[bg=#89B4FA]  "
                mode_search        "#[bg=#89B4FA]  "
                mode_rename_tab    "#[bg=#89B4FA]  "
                mode_rename_pane   "#[bg=#89B4FA]  "
                mode_session       "#[bg=#89B4FA]  "
                mode_move          "#[bg=#89B4FA]  "
                mode_prompt        "#[bg=#89B4FA]  "
                mode_tmux          "#[bg=#ffc387]  "

                tab_normal   "#[fg=#6e738d] {name} "
                tab_active   "#[fg=#939ab7,bold,italic] {name} "
                tab_active_fullscreen   "#[fg=#939ab7,bold,italic] {name} []"

                datetime        "#[fg=#939ab7,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Madrid"
            }
        }
    }
    tab name="terminal" {
        pane size="70%"
        pane size="20%"
    }
}
