@define-color background rgb(36, 39, 58);
@define-color foreground #cad3f5;
@define-color mantle #1e2030;
@define-color blue #8aadf4;
@define-color green #a6da95;
@define-color peach #f5a97f;
@define-color rosewater #f4dbd6;
@define-color lavender #b7bdf8;
@define-color yellow #eed49f;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color mauve #c6a0f6;
@define-color pink #f5bde6;
