@import "./colors.css";

* {
  font-family: "Maple Mono NF";
  font-size: 15px;
  border-radius: 0;
  box-shadow: none;
}

window#waybar {
  background: @background;
  /* border: 2px solid @border; */
}

#custom-cachy:hover,
#cpu:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#pulseaudio.microphone:hover,
#pulseaudio.sink-muted:hover,
#custom-powermenu:hover {
  opacity: 0.5;
}

#custom-cachy,
#cpu,
#clock,
#mpris,
#custom-menu,
#tray,
#privacy,
#network,
#bluetooth,
#pulseaudio,
#pulseaudio.microphone,
#backlight,
#battery,
#custom-powermenu {
  color: @foreground;
  padding: 6px 0;
}

#workspaces button {
  color: @foreground;
  padding: 0;
}
#workspaces button.active {
  color: @green;
}

#privacy {
  margin: 4px;
  color: @yellow;
}

#clock {
  margin-top: 5px;
  color: @blue;
}

#mpris {
  color: @yellow;
}

#network.disabled {
  color: @red;
}
#network.wifi {
  color: @green;
}
#network.ethernet {
  color: @yellow;
}

#bluetooth.disabled {
  color: @red;
}
#bluetooth.connected {
  color: @blue;
}

#pulseaudio.sink-muted:not(.microphone) {
  color: @yellow;
}
#pulseaudio.microphone.source-muted {
  color: @red;
}

#battery.plugged {
  color: @blue;
}
#battery.charging {
  color: @green;
}
#battery.critical {
  color: @yellow;
}

tooltip {
  background: @background;
  border: 1px solid @foreground;
}
tooltip * {
  color: @foreground;
  margin: 2px;
  background: @background;
}

#pulseaudio-slider,
#backlight-slider {
  min-height: 80px;
}

#pulseaudio-slider slider,
#backlight-slider slider {
  background: transparent;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 8px;
}

#pulseaudio-slider highlight {
  background: @blue;
}
#backlight-slider highlight {
  background: @yellow;
}

/* General Settings */
#battery,
#cava,
#custom-cava,
#custom-clipboard,
#custom-notifications,
#custom-arch,
#custom-gpu-usage,
#custom-updates,
#mode,
#cpu,
#memory,
#temperature,
#custom-music,
#custom-fans,
#clock,
#idle_inhibitor,
#bluetooth,
#custom-wf-recorder,
#pulseaudio,
#backlight,
#network,
#tray,
#custom-power-menu,
#language,
#window,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  padding: 5 0 5 0;
}

#custom-notifications {
  color: @yellow;
  margin-bottom: 10px;
}

#clock {
  color: @blue;
}

#language {
  color: @blue;
}

#pulseaudio {
  color: @pink;
}

#pulseaudio.muted {
  background-color: @red;
  color: @mantle;
}

#pulseaudio.source-muted {
  background-color: @peach;
  color: @mantle;
}

#backlight {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging,
#battery.plugged {
  background-color: @green;
  color: @mantle;
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @mantle;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disabled {
  color: @red;
}
#network.wifi {
  color: @peach;
}
#network.ethernet {
  color: @sky;
}

#submap {
  color: @peach;
}
