/* Catppuccin Macchiato Lavender userChrome.css*/

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #363a4f !important;
    --zen-primary-color: #b7bdf8 !important;
    --zen-colors-secondary: #363a4f !important;
    --zen-colors-tertiary: #1e2030 !important;
    --zen-colors-border: #b7bdf8 !important;
    --toolbarbutton-icon-fill: #b7bdf8 !important;
    --lwt-text-color: #cad3f5 !important;
    --toolbar-field-color: #cad3f5 !important;
    --tab-selected-textcolor: rgb(193, 200, 246) !important;
    --toolbar-field-focus-color: #cad3f5 !important;
    --toolbar-color: #cad3f5 !important;
    --newtab-text-primary-color: #cad3f5 !important;
    --arrowpanel-color: #cad3f5 !important;
    --arrowpanel-background: #24273a !important;
    --sidebar-text-color: #cad3f5 !important;
    --lwt-sidebar-text-color: #cad3f5 !important;
    --lwt-sidebar-background-color: #181926 !important;
    --toolbar-bgcolor: #363a4f !important;
    --newtab-background-color: #24273a !important;
    --zen-themed-toolbar-bg: #1e2030 !important;
    --zen-main-browser-background: #1e2030 !important;
    --toolbox-bgcolor-inactive: #1e2030 !important;
  }

  #permissions-granted-icon {
    color: #1e2030 !important;
  }

  .sidebar-placesTree {
    background-color: #24273a !important;
  }

  #zen-workspaces-button {
    background-color: #24273a !important;
  }

  #TabsToolbar {
    background-color: #1e2030 !important;
  }

  #urlbar-background {
    background-color: #24273a !important;
  }

  .content-shortcuts {
    background-color: #24273a !important;
    border-color: #b7bdf8 !important;
  }

  .urlbarView-url {
    color: #b7bdf8 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #181926 !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #363a4f !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #181926;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #8aadf4 !important;
    --identity-icon-color: #8aadf4 !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #8bd5ca !important;
    --identity-icon-color: #8bd5ca !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6da95 !important;
    --identity-icon-color: #a6da95 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #eed49f !important;
    --identity-icon-color: #eed49f !important;
  }

  .identity-color-orange {
    --identity-tab-color: #f5a97f !important;
    --identity-icon-color: #f5a97f !important;
  }

  .identity-color-red {
    --identity-tab-color: #ed8796 !important;
    --identity-icon-color: #ed8796 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f5bde6 !important;
    --identity-icon-color: #f5bde6 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #c6a0f6 !important;
    --identity-icon-color: #c6a0f6 !important;
  }

  hbox#titlebar {
    background-color: #1e2030 !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #1e2030 !important;
  }
}

#zen-essentials-container {
  margin-bottom: 3px !important;
}

.urlbar-input-box {
  text-align: center;
}

/* Hide some things */
#back-button,
#forward-button {
  display: none !important;
}

.titlebar-buttonbox-container {
  display: none !important;
}

#zen-current-workspace-indicator-container {
  display: none !important;
}
