/** ********** Fonts ********** **/
* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  font-weight: bold;
}

/** ********** Main Window ********** **/
window {
  background-color: transparent;
}

/** ********** Buttons ********** **/
button {
  background-color: #24273a;
  color: #cdd6f4;
  outline-style: none;
  border: 2px solid rgba(183, 189, 248, 0.5);
  box-shadow: 3px 3px 1px 1px #101010;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 15px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.2s ease-in-out;
}

button:focus {
  background-size: 30%;
}

button:hover {
  color: #ffffff;
  background-size: 40%;
  background-color: #363a4f;
  outline-style: none;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

/** ********** Icons ********** **/
#lock {
  background-image: image(
    url("icons/lock.png"),
    url("/usr/share/wleave/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("icons/logout.png"),
    url("/usr/share/wleave/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("icons/suspend.png"),
    url("/usr/share/wleave/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("icons/hibernate.png"),
    url("/usr/share/wleave/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("icons/shutdown.png"),
    url("/usr/share/wleave/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("icons/reboot.png"),
    url("/usr/share/wleave/icons/reboot.png")
  );
}
