/* ../../../AppData/Local/Temp/tmp-5152-1Ex7Bvh4Tu6u/18f3cb8bc8b4/navBar.module.css */
.navBar-module__topBarHeaderItem___piw4C_library {
  -webkit-app-region: no-drag;
  display: inline-block;
  pointer-events: auto;
}
.navBar-module__topBarHeaderItemLink___xA4uv_library {
  margin: 0 8px 0 0;
}
.navBar-module__topBarActive___XhWpm_library {
  background-color: var(--spice-tab-active);
  border-radius: 4px;
}
.navBar-module__topBarHeaderItemLink___xA4uv_library {
  border-radius: 4px;
  color: var(--spice-text);
  display: inline-block;
  margin: 0 8px;
  padding: 8px 16px;
  position: relative;
  text-decoration: none !important;
  cursor: pointer;
}
.navBar-module__topBarNav___qWGeZ_library {
  -webkit-app-region: drag;
  pointer-events: none;
  width: 100%;
}
.navBar-module__topBarHeaderItem___piw4C_library .navBar-module__optionsMenuDropBox___pzfNI_library {
  color: var(--spice-text);
  border: 0;
  max-width: 150px;
  height: 42px;
  padding: 0 30px 0 12px;
  background-color: initial;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.navBar-module__topBarHeaderItem___piw4C_library .navBar-module__optionsMenuDropBox___pzfNI_library svg {
  position: absolute;
  margin-left: 8px;
}
div.navBar-module__topBarHeaderItemLink___xA4uv_library {
  padding: 0;
}

/* ../../../AppData/Local/Temp/tmp-5152-1Ex7Bvh4Tu6u/18f3cb8baff0/app.css */
:root {
  --library-card-size: 180px;
  --library-searchbar-size: 200px;
}
#library-app .header-right .x-filterBox-expandedOrHasFilter .x-filterBox-filterInput {
  width: var(--library-searchbar-size);
}
#library-app .grid {
  grid-template-columns: repeat(auto-fill, minmax(var(--library-card-size), 1fr)) !important;
}
#library-app .load-more-card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}
#library-app .load-more-card div:nth-child(2) {
  text-align: center;
  font-size: var(--encore-text-size-base);
}
#library-app .load-more-card div:first-child {
  fill: var(--text-subdued);
  width: 80%;
  margin: 0 auto;
}
#library-app .load-more-card:hover {
  cursor: pointer;
}
.text-input-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.text-input-form .text-input {
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--spice-text);
  font-family: inherit;
  font-size: 14px;
  height: 32px;
  padding: 0 12px;
  width: 100%;
}
.text-input-form .text-input:focus {
  background-color: var(--spice-tab-active);
  border: 1px solid var(--spice-button-disabled);
  outline: none;
}
.text-input-form button {
  align-self: end;
}

/* ../../../AppData/Local/Temp/tmp-5152-1Ex7Bvh4Tu6u/18f3cb8bc361/external.css */
body:not(.show-ylx-filters) .main-yourLibraryX-filterArea:not(:has(> .main-yourLibraryX-libraryFilter)),
.main-yourLibraryX-header:not(:has(> .main-yourLibraryX-headerContent > .main-yourLibraryX-collapseButton > button:nth-child(2))),
.main-yourLibraryX-collapseButton > button:first-child,
.main-yourLibraryX-headerContent > button {
  display: none;
}
.main-yourLibraryX-library {
  padding-top: 8px;
}
.main-yourLibraryX-header {
  margin-top: -8px;
}
.main-yourLibraryX-librarySortWrapper button span:first-child {
  display: none;
}
.main-yourLibraryX-librarySortWrapper {
  margin-left: auto;
}
.toggle-filters-button > button:after,
.collapse-button > button:after,
.expand-button > button:after {
  display: none;
}
.expand-button {
  display: flex;
  align-items: center;
  z-index: 1;
  margin-left: 5px;
}
.expand-button > button {
  visibility: hidden;
  margin: 0 5px;
}
li.main-yourLibraryX-navItem[data-id="/library"] {
  display: flex;
}
li.main-yourLibraryX-navItem[data-id="/library"] > a {
  flex-grow: 1;
}
.toggle-filters-button > button,
.collapse-button > button,
.main-yourLibraryX-librarySortWrapper > button {
  padding: 0;
}
.toggle-filters-button,
.collapse-button,
.main-yourLibraryX-librarySortWrapper {
  display: flex;
  flex-basis: 32px;
  justify-content: center;
  min-width: 24px;
  flex-shrink: 10;
}
.main-yourLibraryX-librarySortWrapper > button > span:nth-child(2) {
  margin: 0;
}
.LayoutResizer__resize-bar {
  opacity: 0 !important;
}
.Root__nav-bar .x-filterBox-expandedOrHasFilter .x-filterBox-filterInput {
  width: 100%;
}
.Root__nav-bar .x-filterBox-expandedOrHasFilter {
  flex-grow: 1;
  margin-right: 5px;
}
.Root__nav-bar:has(> .LayoutResizer__resize-bar:hover) .expand-button > button,
.Root__nav-bar .expand-button:hover > button {
  visibility: visible;
  height: 32px;
  background-color: black;
}
.text-input-form .Button-small-buttonPrimary {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
  background-color: transparent;
  border: 0px;
  border-radius: 9999px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property:
    background-color,
    border-color,
    color,
    box-shadow,
    filter,
    transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding: 0px;
  min-inline-size: 0px;
}
.text-input-form .ButtonInner-small {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  background-color: var(--background-base, #1ed760);
  color: var(--text-base, #000000);
  display: flex;
  border-radius: 9999px;
  font-size: inherit;
  min-block-size: var(--encore-control-size-smaller, 32px);
  align-items: center;
  justify-content: center;
  padding-block-start: var(--encore-spacing-tighter-4, 4px);
  padding-block-end: var(--encore-spacing-tighter-4, 4px);
  padding-inline-start: var(--encore-spacing-base, 16px);
  padding-inline-end: var(--encore-spacing-base, 16px);
}
.text-input-form .Button-small-buttonPrimary:hover .ButtonInner-sc-14ud5tc-0,
.text-input-form .Button-small-buttonPrimary:hover .ButtonFocus-sc-2hq6ey-0 {
  transform: scale(1.04);
}

/* ../../../AppData/Local/Temp/tmp-5152-1Ex7Bvh4Tu6u/18f3cb8bc5f2/config_modal.css */
.config-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.config-container .section-header {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--spice-text);
}
.config-container .col.description {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--spice-subtext);
}
.config-container .disabled {
  opacity: 0;
  pointer-events: none;
}
.config-container .text-input {
  background: rgba(var(--spice-rgb-selected-row), 0.1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--spice-text);
  font-family: inherit;
  font-size: 14px;
  height: 32px;
  padding: 0 12px;
  width: 100%;
}
.config-container .text-input:focus {
  background-color: var(--spice-tab-active);
  border: 1px solid var(--spice-button-disabled);
  outline: none;
}
.config-container .dropdown-input {
  background-color: var(--spice-tab-active);
  border: 0;
  border-radius: 4px;
  color: rgba(var(--spice-rgb-selected-row), 0.7);
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  letter-spacing: 0.24px;
  line-height: 20px;
  padding: 0 32px 0 12px;
  width: 100%;
}
.config-container .tooltip-icon {
  float: right;
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 22px;
  fill: var(--spice-subtext);
}
.config-container .tooltip-icon:hover {
  fill: var(--spice-text);
}
.config-container .tooltip {
  text-align: center;
}
.config-container .setting-row {
  display: flex;
  justify-content: space-between;
}
.config-container .playback-progressbar {
  width: 200px;
}

/* ../../../AppData/Local/Temp/tmp-5152-1Ex7Bvh4Tu6u/18f3cb8bc713/shared.css */
.grid {
  --grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)) !important;
}
.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
  gap: 16px;
}
.loadingWrapper .status-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
}
.page-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.page-header {
  align-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
.page-header .header-right,
.page-header .header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
.page-header .header-right {
  justify-content: flex-end;
}
.page-header .header-left {
  justify-content: flex-start;
}
.new-update {
  background-color: var(--spice-player);
  color: var(--spice-text);
  border-radius: 8px;
  padding: 2px 12px;
  margin: 0 24px;
  border: 0px;
}
